blockquote {
  border-left: var(--instant-3px) solid var(--instant-border-color);
  padding-left: var(--instant-r-half);
  margin-right: var(--instant-r-1);
  font-style: italic;
}

/* Unify space above initial heading in blockquotes */
blockquote > :matches(h1, h2, h3, h4, h5):first-child {
  margin-top: 0;
}
