blockquote {
  border-left: var(--3px) solid var(--colorBorder);
  padding-left: var(--l-half);
  margin-right: var(--l-1);
  font-style: italic;
}

/* Unify space above initial heading in blockquotes */
blockquote > :matches(h1, h2, h3, h4, h5):first-child {
  margin-top: 0;
}
