pre,
code,
kbd,
samp {
  font-family: var(--fontMonospace);
  font-size: var(--fontSizeSmall);
  white-space: pre-wrap;
  background-color: var(--colorBackgroundCode);
  box-shadow: inset 0 0 0 var(--1px) var(--colorBorder);
}

pre code {
  /* Don’t repeat box-shadow, when the parent already has it */
  box-shadow: none;
}

figure pre {
  margin-top: 0;
}

pre {
  padding: var(--l-half);
  overflow: hidden;
}

code,
kbd,
samp {
  padding: var(--2px) var(--6px);
}
