h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: 700;
}

h1 {
  --marginTop: var(--r-2);
  --marginBottom: var(--r-1);

  font-size: var(--fontSizeH1);
  line-height: var(--lineHeightH1);
  margin-top: calc((var(--marginTop) - var(--fontSizeH1)) + var(--marginTop));
  margin-bottom: calc((var(--marginBottom) - var(--fontSizeH1)) + var(--marginBottom));
}

h2 {
  --marginTop: var(--r-1);
  --marginBottom: var(--r-1);

  margin-top: calc((var(--marginTop) - var(--fontSizeH2)) + var(--marginTop));
  margin-bottom: calc((var(--marginBottom) - var(--fontSizeH2)) + var(--marginBottom));
  font-size: var(--fontSizeH2);
  line-height: var(--lineHeightH1);
}

h3,
h4,
h5,
h6 {
  --marginTop: var(--r-1);

  margin-top: calc((var(--marginTop) - var(--fontSizeBase)) + var(--marginTop));
  font-size: var(--fontSizeBase);
  line-height: var(--lineHeightBase);
}

h4 {
  font-style: italic;
}

/* Subheading adjustments */

h1 + h1,
h1 + h2,
h2 + h1,
h2 + h2 {
  --marginTop: var(--r-1);
}

:matches(h1, h2, h3, h4, h5, h6) + :matches(h3, h4, h5, h6) {
  margin-top: 0;
}

/* Show h6 heading inline with following paragraph text */
h6 {
  display: inline-block;
  margin: var(--r-half) var(--r-eigth) 0 0;
}

h6 + p {
  display: inline;
}

h6 ~ * {
  display: inherit;
}


/* Automatic Heading Numbering */

/* Thanks to Phil Archer. http://philarcher.org/diary/2013/headingnumbers/ */

.number-headings body {counter-reset: h2}
.number-headings h2 {counter-reset: h3}
.number-headings h3 {counter-reset: h4}
.number-headings h4 {counter-reset: h5}
/* .number-headings h5 {counter-reset: h6} */ /* Omitted H6. Inline headings are useful in non-hierarchical contexts */
.number-headings h2:before {counter-increment: h2; content: counter(h2) ". "}
.number-headings h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
.number-headings h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
.number-headings h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
/* .number-headings h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "} */ /* H6 omitted as above */
.number-headings h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {content: ""; counter-increment: none}

/* Don't number author H2 on title page */
.title > h2:before {content: ""}
