h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--instant-fontWeightHeading);
}

h1 {
  --instant-top: var(--instant-r-2);
  --instant-bottom: var(--instant-r-1);
  --instant-fontSize: var(--instant-fontSizeH1);
  --instant-lineHeight: var(--instant-lineHeightH1);
}

h2 {
  --instant-top: var(--instant-r-1);
  --instant-bottom: var(--instant-r-1);
  --instant-fontSize: var(--instant-fontSizeH2);
  --instant-lineHeight: var(--instant-lineHeightH2);
}

h1,
h2 {
  font-size: var(--instant-fontSize);
  line-height: var(--instant-lineHeight);
  margin-top: calc((var(--instant-top) - var(--instant-fontSize)) + var(--instant-top));
  margin-bottom: calc((var(--instant-bottom) - var(--instant-fontSize)) + var(--instant-bottom));
}

h3 {
  font-size: var(--instant-fontSizeH3);
}

h3,
h4,
h5,
h6 {
  --instant-top: var(--instant-r-1);
  --instant-bottom: 0;
  --instant-fontSize: var(--instant-fontSizeBase);

  margin-top: calc((var(--instant-top) - var(--instant-fontSize)) + var(--instant-top));
  margin-bottom: var(--instant-r-1);
}

h4,
h5,
h6 {
  font-size: var(--instant-fontSizeBase);
  line-height: var(--instant-lineHeightBase);
}

h4 {
  font-style: italic;
}

h5 {
  margin-bottom: 0;
}

/* Inline with following paragraphs */
h6 {
  display: inline-block;
  margin: var(--instant-r-1) var(--instant-r-quarter) 0 0;
}

h6 + p {
  display: inline;
}

/*————————————————————————————————————————————————————————————————————————————
  Fine adjustments
————————————————————————————————————————————————————————————————————————————*/

h1 + h1,
h1 + h2,
h2 + h1,
h2 + h2 {
  --instant-marginTop: var(--instant-r-1);
}

:matches(h1, h2, h3, h4, h5, h6) + :matches(h3, h4, h5, h6) {
  margin-top: 0;
}

:matches(h1, h2, h3, h4, h5, h6) :matches(pre, code, kbd, samp) {
  /* Make code the same size as heading */
  font-size: inherit;
}

/*————————————————————————————————————————————————————————————————————————————
  User settings
————————————————————————————————————————————————————————————————————————————*/

/* Centered Headings */
.center-headings :matches(h1, h2, h3, h4, h5) {
  text-align: center;
}

/* 
  Heading numbering.
  Thanks to Phil Archer. http://philarcher.org/diary/2013/headingnumbers/
*/

.number-headings body {
  counter-reset: h2;
}
.number-headings h2 {
  counter-reset: h3;
}
.number-headings h3 {
  counter-reset: h4;
}
.number-headings h4 {
  counter-reset: h5;
}
/* Omitted H6. Inline headings are useful in non-hierarchical contexts */
/* .number-headings h5 {
  counter-reset: h6;
} */
.number-headings h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
.number-headings h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}
.number-headings h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}
.number-headings h5:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}
/* .number-headings h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "} */ /* H6 omitted as above */
.number-headings h2.nocount:before,
h3.nocount:before,
h4.nocount:before,
h5.nocount:before,
h6.nocount:before {
  content: "";
  counter-increment: none;
}

/* Don't number author H2 on title page */
.title > h2:before {
  content: "";
}
