/*
  Image is wrapped in a <p> on export, so leave it displayed inline (is default).
*/

img {
  max-width: 100%;
  vertical-align: top;
}

figure img {
  display: block;
}

figcaption {
  text-align: center;
  font-style: italic;
}
