:root {
  --indentationList: var(--l-1);
}

ul,
ol {
  padding-left: var(--indentationList);
}

ul {
  list-style: none;
}

li {

}

ul > li:before {
  content: "•";
  float: left;
  margin-left: -1rem;
}

li:after {
  content: "";
  clear: both;
  display: block;
}

/* Indent ordered lists in blockquotes */
blockquote ul,
blockquote ol {
  margin-left: calc((40 / 18) * -1em); /* -40px when width = 1080px */
}


@media screen and (min-width: 760px) {
  /* Left padding based on 40px browser default */
  ul,
  ol {
    padding-left: 2.2222rem; /* ~40px for font-size: 18px. rem works better for RWD than % */
  }
}
