ul,
ol {
  padding-left: var(--instant-indentationList);
}

ul {
  list-style: none;
}

ul li:before {
  content: var(--instant-unorderedListSymbol);
  float: left;
  margin-left: calc(var(--instant-fontSizeBase) * -1);
}

ul li:after {
  /* Clearfix */
  content: "";
  clear: both;
  display: block;
}

/* Decrease vertical margin in lists */
li :matches(p, pre, figure, img) {
  margin-top: var(--instant-r-half);
}

li :first-child {
  margin-top: 0;
}
