:root {
  --marginHorizontalRuler: var(--r-1);
}

hr {
  clear: both;
  border: none;
  margin: var(--marginHorizontalRuler) auto; /* Extra-large for visibility in mini-map (<100px wide) */
  height: 1px;
  background-color: var(--colorBorder);
}

/* Breakpoint minWidthMinimap */
@media screen and (min-width: 100px) {
  :root {
    --marginHorizontalRuler: var(--r-2);
  }
}
