:root {
  --marginHorizontalRuler: var(--l-1);
}

hr {
  clear: both;
  border: none;
  margin: var(--marginHorizontalRuler) auto; /* Extra-large for visibility in mini-map (<100px wide) */
  height: var(--1px);
  background-color: var(--colorBorder);
}

/* Breakpoint maxWidthMinimap */
@media screen and (max-width: 99px) {
  :root {
    --marginHorizontalRuler: var(--l-3);
    --colorBorder: var(--colorText);
  }
}

/* Breakpoint minWidthMinimap */
@media screen and (min-width: 100px) {
  :root {
    --marginHorizontalRuler: var(--l-2);
  }
}

/* Breakpoint minWidthDesktop */
@media screen and (min-width: 1080px) {
  hr {
    margin-top: 46px;
    margin-bottom: 46px;
  }
}
