html {
  box-sizing: border-box;
  font-family: var(--instant-text-font);
  font-size: 100%;
  line-height: var(--instant-line-height);
  color: var(--instant-text-color);
  background-color: var(--instant-background-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration-skip: ink;
  text-decoration: var(--instant-link-style);
  color: var(--instant-link-color);
}

a:hover {
  text-decoration: none;
}

/* Vertical margins */
p,
ol,
ul,
dl,
figure,
blockquote,
pre,
table {
  margin: var(--instant-r-1) auto 0;
}

/*————————————————————————————————————————————————————————————————————————————
  User settings
————————————————————————————————————————————————————————————————————————————*/

/* Indent the first line of sequential paragraphs, via the “Indent Paragraph” setting */
.indent-paragraphs p + p {
  margin-top: 0;
  text-indent: var(--instant-paragraph-indentation);
}
