:root {
  /*————————————————————————————————————————————————————————————————————————————
    Fonts
  ————————————————————————————————————————————————————————————————————————————*/
  --instant-text-font: "IBM Plex Sans";
  --instant-monospace-font: "IBM Plex Mono";

  /*————————————————————————————————————————————————————————————————————————————
    Colors
  ————————————————————————————————————————————————————————————————————————————*/
  --instant-text-color: hsl(0, 0%, 0%);
  --instant-link-color: var(--instant-text-color);
  --instant-background-color: hsl(0, 0%, 98%);
  --instant-code-background-color: hsl(0, 0%, 92%);
  --instant-border-color: hsl(0, 0%, 86%);

  /*————————————————————————————————————————————————————————————————————————————
    Styling
  ————————————————————————————————————————————————————————————————————————————*/
  --instant-link-style: underline;
  --instant-symbol-list: "•";

  /*————————————————————————————————————————————————————————————————————————————
    Typography
  ————————————————————————————————————————————————————————————————————————————*/
  /* Define font size multipliers… */
  --instant-h1-font-size-multiplier: 2.2;
  --instant-h2-font-size-multiplier: 1.7;
  --instant-h3-font-size-multiplier: 1.3;

  /* …and apply them. */
  --instant-font-size: 1rem;
  --instant-h1-font-size: calc(var(--instant-font-size) * var(--instant-h1-font-size-multiplier));
  --instant-h2-font-size: calc(var(--instant-font-size) * var(--instant-h2-font-size-multiplier));
  --instant-h3-font-size: calc(var(--instant-font-size) * var(--instant-h3-font-size-multiplier));
  --instant-small-font-size: calc(var(--instant-font-size) / 1.15);

  /* Line heights */
  --instant-line-height: 1.5;
  --instant-heading-line-height: calc(var(--instant-line-height) * (var(--instant-line-height) / 2));

  /* Font weights */
  --instant-heading-font-weight: 700;

  /*————————————————————————————————————————————————————————————————————————————
    Layout
  ————————————————————————————————————————————————————————————————————————————*/

  /* Establish vertical rhythm */
  --instant-rhythm: var(--instant-font-size) * var(--instant-line-height);

  /* Baseline margins */
  --instant-r-eigth:          calc(0.125 * var(--instant-rhythm));
  --instant-r-quarter:        calc(0.25 * var(--instant-rhythm));
  --instant-r-half:           calc(0.5 * var(--instant-rhythm));
  --instant-r-three-quarters: calc(0.75 * var(--instant-rhythm));
  --instant-r-1:              calc(1 * var(--instant-rhythm));
  --instant-r-2:              calc(2 * var(--instant-rhythm));
  --instant-r-3:              calc(3 * var(--instant-rhythm));
  --instant-r-4:              calc(4 * var(--instant-rhythm));
  --instant-r-5:              calc(5 * var(--instant-rhythm));
  --instant-r-6:              calc(6 * var(--instant-rhythm));
  --instant-r-7:              calc(7 * var(--instant-rhythm));
  --instant-r-8:              calc(8 * var(--instant-rhythm));
  --instant-r-9:              calc(9 * var(--instant-rhythm));
  --instant-r-10:             calc(10 * var(--instant-rhythm));

  --instant-body-padding: var(--instant-r-half);

  /*
    LINE LENGTHS
    Sizes calculated with 16px font size.

    64 characters: ~496px
    72 characters: ~560px
    80 characters: ~636px
  */
  --instant-body-line-length: 560px;

  --instant-paragraph-indentation: var(--instant-r-1);
  --instant-list-indentation: var(--instant-r-1);

  /* Relative sizing helpers */
  --instant-1px: calc(1 / 16 * var(--instant-font-size));
  --instant-2px: calc(2 / 16 * var(--instant-font-size));
  --instant-3px: calc(3 / 16 * var(--instant-font-size));
  --instant-4px: calc(4 / 16 * var(--instant-font-size));
  --instant-5px: calc(5 / 16 * var(--instant-font-size));
  --instant-6px: calc(6 / 16 * var(--instant-font-size));
}
