:root {
  /*————————————————————————————————————————————————————————————————————————————
    Fonts
  ————————————————————————————————————————————————————————————————————————————*/
  --instant-fontText: "IBM Plex Sans", "Keyboard", sans-serif;
  --instant-fontMonospace: "IBM Plex Mono", "Keyboard", monospace;

  /*————————————————————————————————————————————————————————————————————————————
    Colors
  ————————————————————————————————————————————————————————————————————————————*/
  --instant-colorText: hsl(0, 0%, 0%);
  --instant-colorLink: var(--instant-colorText);
  --instant-colorBackground: hsl(0, 0%, 98%);
  --instant-colorBackgroundCode: hsl(0, 0%, 92%);
  --instant-colorBorder: hsl(0, 0%, 86%);

  /*————————————————————————————————————————————————————————————————————————————
    Styling
  ————————————————————————————————————————————————————————————————————————————*/
  --instant-styleLink: underline;
  --instant-unorderedListSymbol: "•";

  /*————————————————————————————————————————————————————————————————————————————
    Typography
  ————————————————————————————————————————————————————————————————————————————*/
  --instant-typoScale: 1.3;
  --instant-typoScaleH1: var(--instant-typoScale) * var(--instant-typoScale) * var(--instant-typoScale);
  --instant-typoScaleH2: var(--instant-typoScale) * var(--instant-typoScale);
  --instant-typoScaleH3: var(--instant-typoScale);

  --instant-fontSizeBase: 1rem;
  --instant-fontSizeH1: calc(var(--instant-fontSizeBase) * var(--instant-typoScaleH1));
  --instant-fontSizeH2: calc(var(--instant-fontSizeBase) * var(--instant-typoScaleH2));
  --instant-fontSizeH3: calc(var(--instant-fontSizeBase) * var(--instant-typoScaleH3));
  --instant-fontSizeSmall: calc(var(--instant-fontSizeBase) / 1.15);

  --instant-lineHeightBase: 1.5;
  --instant-lineHeightH1: calc(var(--instant-lineHeightBase) * (var(--instant-lineHeightBase) / 2));
  --instant-lineHeightH2: calc(var(--instant-lineHeightBase) * (var(--instant-lineHeightBase) / 2));

  --instant-fontWeightHeading: 700;

  /*————————————————————————————————————————————————————————————————————————————
    Layout
  ————————————————————————————————————————————————————————————————————————————*/

  /* Establish vertical rhythm */
  --instant-rhythm: var(--instant-fontSizeBase) * var(--instant-lineHeightBase);

  /* Baseline margins */
  --instant-r-eigth:          calc(0.125 * var(--instant-rhythm));
  --instant-r-quarter:        calc(0.25 * var(--instant-rhythm));
  --instant-r-half:           calc(0.5 * var(--instant-rhythm));
  --instant-r-three-quarters: calc(0.75 * var(--instant-rhythm));
  --instant-r-1:              calc(1 * var(--instant-rhythm));
  --instant-r-2:              calc(2 * var(--instant-rhythm));
  --instant-r-3:              calc(3 * var(--instant-rhythm));
  --instant-r-4:              calc(4 * var(--instant-rhythm));
  --instant-r-5:              calc(5 * var(--instant-rhythm));
  --instant-r-6:              calc(6 * var(--instant-rhythm));
  --instant-r-7:              calc(7 * var(--instant-rhythm));
  --instant-r-8:              calc(8 * var(--instant-rhythm));
  --instant-r-9:              calc(9 * var(--instant-rhythm));
  --instant-r-10:             calc(10 * var(--instant-rhythm));

  --instant-paddingBody: var(--instant-r-half);

  /*
    LINE LENGTHS
    Sizes calculated with 16px font size.

    64 characters: ~496px
    72 characters: ~560px
    80 characters: ~636px
  */
  --instant-lineLengthBody: 560px;

  --instant-indentationParagraph: var(--instant-r-1);
  --instant-indentationList: var(--instant-r-1);

  /* Relative sizing helpers */
  --instant-1px: calc(1 / 16 * var(--instant-fontSizeBase));
  --instant-2px: calc(2 / 16 * var(--instant-fontSizeBase));
  --instant-3px: calc(3 / 16 * var(--instant-fontSizeBase));
  --instant-4px: calc(4 / 16 * var(--instant-fontSizeBase));
  --instant-5px: calc(5 / 16 * var(--instant-fontSizeBase));
  --instant-6px: calc(6 / 16 * var(--instant-fontSizeBase));
}
