/* Accessibility sizing for iOS phones */
.content-size-xs > body {
  font-size: 80%;
}

.content-size-s > body {
  font-size: 87%;
}

.content-size-m > body {
  font-size: 93%;
}

.content-size-xl > body {
  font-size: 113%;
}

.content-size-xxl > body {
  font-size: 127%;
}

.content-size-xxxl > body {
  font-size: 140%;
}

.content-size-accessibility-m > body {
  font-size: 153%;
}

.content-size-accessibility-l > body {
  font-size: 167%;
}

.content-size-accessibility-xl > body {
  font-size: 180%;
}

.content-size-accessibility-xxl > body {
  font-size: 193%;
}

.content-size-accessibility-xxxl > body {
  font-size: 207%;
}

body > *:first-child {
   margin-top: 0;
}

/* iOS gutters responsive adjustments */

body {
    --padding: 10px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

@supports (padding: constant(safe-area-inset-left)) and (padding: constant(safe-area-inset-right)) {
    body {
        padding-left: calc(var(--padding) + constant(safe-area-inset-left));
        padding-right: calc(var(--padding) + constant(safe-area-inset-right));
    }
}

@supports (padding: env(safe-area-inset-left)) and (padding: env(safe-area-inset-right)) {
    body {
        padding-left: calc(var(--padding) + env(safe-area-inset-left));
        padding-right: calc(var(--padding) + env(safe-area-inset-right));
    }
}

/* iPhone 6 */
@media screen and (min-width: 375px) {
  body {
    --padding: 22px;
  }
}

/* iPhone 6+ */
@media screen and (min-width: 414px) {
  body {
    --padding: 24px;
  }
}

@media screen and (min-width: 480px) {
  body {
    --padding: 32px;
  }
}

@media screen and (min-width: 600px) {
  body {
    --padding: 48px;
  }
}

/* iPad triggered on 760 not 768 to work with fonts */
@media screen and (min-width: 760px) and (max-device-width: 1024px) {
  body {
    --padding: 70px;
  }
}

/* Responsive adjustments for OS X */
@media screen and (min-device-width: 1152px) {
  html {
    background-color: #fcfcfc;
  }

  body {
    --padding: 24px;
  }
}

@media screen and (min-width: 480px) and (min-device-width: 1152px) {
  body {
    --padding: 48px;
  }
}

@media screen and (min-width: 640px) and (min-device-width: 1152px) {
  body {
    --padding: 72px;
  }
}

/* Headings */
dd {
  -webkit-margin-start: 2.2222rem; /* ~40px for font-size: 18px. rem works better for RWD than % */
  margin-start: 2.2222rem;
}

/* Remove vertical margins on nested lists */
:-webkit-any(li, dt, dd, th, td) > :-webkit-any(ul, ol, dl) {
  margin-top: 0;
  margin-bottom: 0;
}

/* Override vertical margin above paragraph list items */
:-webkit-any(li) > :-webkit-any(p, pre, figure, img) {
    margin-top: 0;
}

/* Use 500 not 700 for code that inherits bold. This is supplimented for titles etc per template  */
:-webkit-any(strong, bold, th) :-webkit-any(code, samp, kbd) {
  font-weight: 500;
}

/* Prevent code line-height increasing heading line-height */
:-webkit-any(h1, h2, h3, h4, h5, h6) > code, kbd {
  line-height: normal;
}

/* OBJECTS */

/* Center Headings
   Center h1-h5 headings, via the Centered Headings setting */
.center-headings :-webkit-any(h1, h2, h3, h4, h5) {
  text-align: center;
}

/* Indent Paragraphs
   Indent the first line of sequential paragraphs, via the Indent Paragraph setting */
.indent-paragraphs p + p {
  margin-top: 0;
  text-indent: 1.2em; /* Tweaked per template */
}

.header, .footer {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  margin-top: 40%;
}

address {
    text-align: right;
    white-space: pre;
}
