/*————————————————————————————————————————————————————————————————————————————
  Monospace
————————————————————————————————————————————————————————————————————————————*/

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  src: local("IBMPlexMono");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: italic;
  src: local("IBMPlexMono-Italic");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: normal;
  src: local("IBMPlexMono-Bold");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: italic;
  src: local("IBMPlexMono-BoldItalic");
}

/*————————————————————————————————————————————————————————————————————————————
  Body
————————————————————————————————————————————————————————————————————————————*/

/* Regular */
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
  src: local("IBMPlexSans");
}

/* Regular Italic */
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: italic;
  src: local("IBMPlexSans-Italic");
}

/* Bold */
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
  src: local("IBMPlexSans-Bold");
}

/* Bold italic */
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: italic;
  src: local("IBMPlexSans-BoldItalic");
}
