/*————————————————————————————————————————————————————————————————————————————
  Monospace
————————————————————————————————————————————————————————————————————————————*/

/* Regular */
@font-face {
  font-family: var(--instant-monospace-font);
  font-weight: 400;
  font-style: normal;
  src: url("fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("fonts/IBMPlexMono-Regular.woff") format("woff");
}

/* Regular Italic  */
@font-face {
  font-family: var(--instant-monospace-font);
  font-weight: 400;
  font-style: italic;
  src: url("fonts/IBMPlexMono-Italic.woff2") format("woff2"), url("fonts/IBMPlexMono-Italic.woff") format("woff");
}

/* Bold */
@font-face {
  font-family: var(--instant-monospace-font);
  font-weight: 700;
  font-style: normal;
  src: url("fonts/IBMPlexMono-Bold.woff2") format("woff2"), url("fonts/IBMPlexMono-Bold.woff") format("woff");
}

/* Bold Italic */
@font-face {
  font-family: var(--instant-monospace-font);
  font-weight: 700;
  font-style: italic;
  src: url("fonts/IBMPlexMono-BoldItalic.woff2") format("woff2"), url("fonts/IBMPlexMono-BoldItalic.woff") format("woff");
}

/*————————————————————————————————————————————————————————————————————————————
  Body
————————————————————————————————————————————————————————————————————————————*/

/* Regular */
@font-face {
  font-family: var(--instant-text-font);
  font-weight: 400;
  font-style: normal;
  src: url("fonts/IBMPlexSans-Regular.woff2") format("woff2"), url("fonts/IBMPlexSans-Regular.woff") format("woff");
}

/* Regular Italic */
@font-face {
  font-family: var(--instant-text-font);
  font-weight: 400;
  font-style: italic;
  src: url("fonts/IBMPlexSans-Italic.woff2") format("woff2"), url("fonts/IBMPlexSans-Italic.woff") format("woff");
}

/* Bold */
@font-face {
  font-family: var(--instant-text-font);
  font-weight: 700;
  font-style: normal;
  src: url("fonts/IBMPlexSans-Bold.woff2") format("woff2"), url("fonts/IBMPlexSans-Bold.woff") format("woff");
}

/* Bold italic */
@font-face {
  font-family: var(--instant-text-font);
  font-weight: 700;
  font-style: italic;
  src: url("fonts/IBMPlexSans-BoldItalic.woff2") format("woff2"), url("fonts/IBMPlexSans-BoldItalic.woff") format("woff");
}
