/*————————————————————————————————————————————————————————————————————————————
Setup
————————————————————————————————————————————————————————————————————————————*/
@import "css/1-setup/variables.css";
@import "core.css";
@import "css/1-setup/base.css";
/* @import "css/1-setup/legacy-font-sizing.css"; */
@import "fonts.css";

/*————————————————————————————————————————————————————————————————————————————
Blocks
————————————————————————————————————————————————————————————————————————————*/
@import "css/2-blocks/footnotes.css";
@import "css/2-blocks/table.css";

/*————————————————————————————————————————————————————————————————————————————
Elements
————————————————————————————————————————————————————————————————————————————*/
@import "css/3-elements/blockquote.css";
@import "css/3-elements/code.css";
@import "css/3-elements/headings.css";
@import "css/3-elements/image.css";
@import "css/3-elements/lists.css";
@import "css/3-elements/ruler.css";
@import "css/3-elements/task-lists.css";

/*————————————————————————————————————————————————————————————————————————————
Overrides
————————————————————————————————————————————————————————————————————————————*/
@import "css/4-overrides/night-mode.css";
@import "css/4-overrides/accessibility.css";
@import "css/4-overrides/print.css";
@import "css/4-overrides/preferences.css";

/* Combined horizontal line styles, supplimenting core.css */

/* Adjust border color to imitate sub-pixel lines */
@media screen and (min-width: 150px) {
    hr,
    caption,
    tbody th,
    td {
        border-bottom-color: #888;
    }

    tbody th,
    td {
        border-top-color: #888;
    }
}

/* Intended border color from 200px */
@media screen and (min-width: 200px) {
    hr,
    caption,
    tbody th,
    td {
        border-bottom-color: #1a1a1a;
    }

    tbody th,
    td {
        border-top-color: #1a1a1a;
    }
}
