table {
  font-size: var(--instant-fontSizeSmall);
  border-collapse: collapse;
  border: var(--instant-1px) solid var(--instant-colorBorder);
  width: 100%;
}

thead {
  border-bottom: var(--instant-3px) solid var(--instant-colorBorder);
}

/* Stripe rows for better left-to-right scanability. */
tbody tr:nth-child(odd) {
  background-color: var(--instant-colorBackgroundCode);
}

td,
th {
  padding: var(--instant-r-quarter);
  vertical-align: top;
}

:matches(td, th):not(:last-child) {
  border-right: var(--instant-1px) solid var(--instant-colorBorder);
}

/*————————————————————————————————————————————————————————————————————————————
  Table tooltips

  1) Slides in tooltip from the right.
————————————————————————————————————————————————————————————————————————————*/

table .tooltip {
  position: relative;
}

table .tooltip:after {
  content: attr(id);
  font-size: var(--instant-fontSizeSmall);
  font-weight: bold;
  background: var(--instant-colorBackground);
  border: var(--instant-1px) solid var(--instant-colorBorder);
  border-bottom-width: var(--instant-2px);
  position: absolute;
  top: var(--instant-r-quarter);
  right: var(--instant-r-quarter);
  padding: 0 var(--instant-4px);
  transform: translateX(4px); /* [1] */
  z-index: 1;
  opacity: 0;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease;
}

table:hover .tooltip:after {
  opacity: 1;
  transform: translateX(0);
}
