/* Smart Table ToolTips */

table {
  font-size: var(--fontSizeSmall);
  border-collapse: collapse;
  border: var(--1px) solid var(--colorBorder);
}

thead {
  border-bottom: var(--3px) solid var(--colorBorder);
}

/* For better left-to-right scanability. */
tbody tr:nth-child(odd) {
  background-color: var(--colorBackgroundCode);
}

td,
th {
  padding: var(--l-quarter);
  vertical-align: top;
}

:matches(td, th):not(:last-child) {
  border-right: var(--1px) solid var(--colorBorder);
}

/*————————————————————————————————————————————————————————————————————————————
  Table tooltips

  1) Slide in tooltip from the right.
————————————————————————————————————————————————————————————————————————————*/

table .tooltip {
  position: relative;
}

table .tooltip:after {
  content: attr(id);
  font-size: var(--fontSizeSmall);
  font-weight: bold;
  background: var(--colorBackground);
  border: var(--1px) solid var(--colorBorder);
  border-bottom-width: var(--2px);
  position: absolute;
  top: var(--l-quarter);
  right: var(--l-quarter);
  padding: 0 var(--4px);
  transform: translateX(4px); /* [1] */
  z-index: 1;
  opacity: 0;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease;
}

table:hover .tooltip:after {
  opacity: 1;
  transform: translateX(0);
}
